/* .quick-add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-form-field {
  min-width: 60%;
} */

.quick-add {
  display: block;
  width: 100%;
}

.quick-add .quick-add-form {
  display: block;
  width: 100%;
  text-align: right;
}



.quick-add table {
  width: 100%;
}

.quick-add table td {
  text-align: left;
}