<div class="quick-add">
  <h3>quick add</h3>
  <form class="quick-add-form" [formGroup]="newTransaction" #form="ngForm" (ngSubmit)="onSubmit(form)" autocomplete="off">
    <mat-form-field>
      <mat-label>Transaction amount</mat-label>
      <input matInput placeholder="Transaction amount" value="" formControlName="amount">
      <span matPrefix>$&nbsp;</span>
      <mat-error *ngIf="newTransaction.controls.amount.invalid">Required, must be valid amount*</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Transaction description</mat-label>
      <input matInput placeholder="Transaction description" value="" formControlName="description">
      <mat-error *ngIf="newTransaction.controls.description.invalid">Required*</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="transactionDatePick" placeholder="Transaction date" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="transactionDatePick"></mat-datepicker-toggle>
      <mat-datepicker #transactionDatePick></mat-datepicker>
      <mat-error *ngIf="newTransaction.controls.date.invalid">Required, must be MM/DD/YYYY*</mat-error>
    </mat-form-field>

    <button mat-raised-button>add</button>
  </form>
</div>