.transactions table {
  width: 100%;
}

.transactions table td {
  text-align: left;
}

.static-row {
  height: 0;
  min-height: 0;
}

.static-row.expanded-row {
  height: 100px;
  min-height: 100px;
}

.transactions .transaction-cell {
  padding: 0;
}
